Floating Pixels Host/Floating_Pixels_Host_Release_22042020.json
[{"id":"9eb77ba0.bce108","type":"tab","label":"Main","disabled":false,"info":"Program: Swimming Pixel Host (Node-Red)\nFile: Main\nKarlsruhe University of Applied Science\nAuthors: Patrick Rodinger, Lukas Reimold\nCurrent Status: Release (22.04.2020)\n\nAccess to user interface under:\nBROKER-IP:1880/ui\ne.g.: localhost:1880/ui"},{"id":"1662ba60.94ed0e","type":"tab","label":"Save Image Path","disabled":false,"info":"Saves image-path in global variable"},{"id":"8c8fdb0a.9b253","type":"tab","label":"Color Selection","disabled":false,"info":"Saves selected color as JSON in global variable"},{"id":"41066b7d.1a0b6c","type":"tab","label":"Position","disabled":false,"info":"Helper Flow to change position of every pixel"},{"id":"b3cdd5c2.47bec8","type":"subflow","name":"Graphic-Conversion","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"efb7e8b5.d9a43","type":"subflow","name":"Matrix-Conversion","info":"","category":"","in":[{"x":120,"y":180,"wires":[]}],"out":[{"x":660,"y":180,"wires":[]}],"env":[],"color":"#DDAA99"},{"id":"9a4ed24d.803f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d2c5726.11d0d9","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"host","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"35b5a73a.b9c68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7d58c47a.8ead9c","type":"ui_group","z":"","name":"Dashboard","tab":"35b5a73a.b9c68","disp":true,"width":"6","collapse":false},{"id":"929f3a0f.0675d","type":"ui_group","z":"","name":"Washing Machine","tab":"67c86a5d.ee00e4","order":2,"disp":true,"width":"6"},{"id":"146c20a.95eb65f","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"67c86a5d.ee00e4","type":"ui_tab","z":"","name":"Washing Machine","icon":"dashboard","order":2},{"id":"3fa7c1ee.87c936","type":"ui_group","z":"","name":"Outside","tab":"a7338c2d.2eb9c8","order":1,"disp":true,"width":"7"},{"id":"a89295d6.4f9be8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6282c5f9.1b98d4","type":"ui_group","z":"","name":"Bathroom","tab":"a7338c2d.2eb9c8","order":2,"disp":true,"width":"6"},{"id":"a7338c2d.2eb9c8","type":"ui_tab","z":"","name":"Climate","icon":"dashboard","order":1},{"id":"59570472.e5fbc4","type":"ui_group","z":"","name":"Outside","tab":"7c53139f.432bb4","order":1,"disp":true,"width":"7"},{"id":"c5109735.04bcd","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b636ea81.4441b8","type":"ui_group","z":"","name":"Bathroom","tab":"7c53139f.432bb4","order":2,"disp":true,"width":"6"},{"id":"7c53139f.432bb4","type":"ui_tab","z":"","name":"Climate","icon":"dashboard","order":1},{"id":"5a800035.c2995","type":"ui_group","z":"","name":"Outside","tab":"b4257523.414e","order":1,"disp":true,"width":"7"},{"id":"6485bd5e.11610c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e688dd7a.3ebe5","type":"ui_group","z":"","name":"Bathroom","tab":"b4257523.414e","order":2,"disp":true,"width":"6"},{"id":"b4257523.414e","type":"ui_tab","z":"","name":"Climate","icon":"dashboard","order":1},{"id":"49027ea9.bfdce8","type":"ui_tab","name":"Tab 6","icon":"dashboard","order":6},{"id":"c792fe9a.74119","type":"ui_spacer","name":"spacer","group":"7d58c47a.8ead9c","order":3,"width":1,"height":1},{"id":"6907a3cb.5ba92c","type":"ui_tab","name":"Tab 7","icon":"dashboard","order":7},{"id":"c1aadb5d.40e038","type":"ui_spacer","name":"spacer","group":"7d58c47a.8ead9c","order":6,"width":"3","height":"1"},{"id":"5701efc.c038e1","type":"ui_group","z":"","name":"Position","tab":"35b5a73a.b9c68","disp":true,"width":"6","collapse":false},{"id":"44634f0e.1e7498","type":"mqtt out","z":"9eb77ba0.bce108","name":"Send RGB-Coordinates","topic":"pixel/rgbCoords","qos":"2","retain":"","broker":"d2c5726.11d0d9","x":1010,"y":340,"wires":[]},{"id":"cebb6622.b7675","type":"json","z":"9eb77ba0.bce108","name":"Convert to json","property":"payload","action":"","pretty":false,"x":860,"y":260,"wires":[["44634f0e.1e7498"]]},{"id":"2b80115c.15632e","type":"function","z":"9eb77ba0.bce108","name":"getRBG from Pixels (async)","func":"var image = msg.payload;\nvar rgbArray = [];\nimage.scan(0, 0, image.bitmap.width, image.bitmap.height, function(x, y, idx) {\n    // x, y is the position of this pixel on the image\n    // idx is the position start position of this rgba tuple in the bitmap Buffer\n    \n    var r = this.bitmap.data[idx + 0];\n    var g = this.bitmap.data[idx + 1];\n    var b = this.bitmap.data[idx + 2];\n    var a = this.bitmap.data[idx + 3];\n    rgbArray.push([r, g, b]); \n    if (x >= image.bitmap.width - 1 && y >= image.bitmap.height - 1) {\n        // image scan finished\n        node.send({payload: rgbArray, width: msg.imageInfo.width, height: msg.imageInfo.height})\n    }\n});\n","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["ffea9372.dda4e8"]]},{"id":"cfaefe3a.bbb94","type":"jimp-image","z":"9eb77ba0.bce108","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"16","parameter1Type":"num","parameter2":"","parameter2Type":"auto","parameter3":"","parameter3Type":"none","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"none","parameter6":"","parameter6Type":"none","parameter7":"","parameter7Type":"none","parameter8":"","parameter8Type":"msg","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":390,"y":100,"wires":[["2b80115c.15632e","927ad923.c4ea08"]]},{"id":"927ad923.c4ea08","type":"image viewer","z":"9eb77ba0.bce108","name":"","width":160,"data":"payload","dataType":"msg","x":290,"y":220,"wires":[[]]},{"id":"ffea9372.dda4e8","type":"function","z":"9eb77ba0.bce108","name":"Convert to RGB-Coordinates","func":"var rgbArray = msg.payload;\nmsg.payload = {\"format\": {\"width\": msg.width, \"height\": msg.height}, \"rgbCoords\": []}\nvar currentX = 0;\nvar currentY = 1;\n\nfor(var i = 1; i <= rgbArray.length; i++)\n{\n    msg.payload.rgbCoords[i-1] = {\n        upperLeftCoord : [Math.round(currentX * 100) / 100, Math.round(currentY * 100) / 100],\n        rgbValue : rgbArray[i-1]\n    }\n    if(i % msg.width == 0)\n    {\n        currentX = 0;\n        currentY -= 1/msg.height;\n    } else\n        currentX += 1/msg.width;\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["cebb6622.b7675"]]},{"id":"54c4bc05.2a42d4","type":"ui_button","z":"9eb77ba0.bce108","name":"","group":"7d58c47a.8ead9c","order":2,"width":0,"height":0,"passthru":false,"label":"Send to Pixels from Link","tooltip":"","color":"","bgcolor":"","icon":"","payload":"selectedImagePath","payloadType":"global","topic":"","x":190,"y":80,"wires":[["cfaefe3a.bbb94"]]},{"id":"324cebd7.b2a40c","type":"mqtt out","z":"41066b7d.1a0b6c","name":"","topic":"pixel/position","qos":"2","retain":"","broker":"d2c5726.11d0d9","x":630,"y":260,"wires":[]},{"id":"7ac416cf.508ae8","type":"ui_numeric","z":"41066b7d.1a0b6c","name":"","label":"xPos","tooltip":"","group":"5701efc.c038e1","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"xPos","format":"{{value}}","min":"0","max":"1","step":"0.1","x":90,"y":60,"wires":[["2f8db431.60c87c"]]},{"id":"34889a01.de9c2e","type":"ui_numeric","z":"41066b7d.1a0b6c","name":"","label":"yPos","tooltip":"","group":"5701efc.c038e1","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"yPos","format":"{{value}}","min":0,"max":"1","step":"0.1","x":90,"y":100,"wires":[["2f8db431.60c87c"]]},{"id":"2f8db431.60c87c","type":"function","z":"41066b7d.1a0b6c","name":"Create JSON","func":"if(msg.topic == \"xPos\")\n    flow.set('xPos', msg.payload);\nelse\n    flow.set('yPos', msg.payload)\n","outputs":1,"noerr":0,"x":250,"y":100,"wires":[[]]},{"id":"fb23ee7c.d1d9f8","type":"json","z":"41066b7d.1a0b6c","name":"","property":"payload","action":"str","pretty":false,"x":490,"y":260,"wires":[["324cebd7.b2a40c"]]},{"id":"88982dc4.b53208","type":"ui_button","z":"9eb77ba0.bce108","name":"","group":"7d58c47a.8ead9c","order":5,"width":0,"height":0,"passthru":false,"label":"Send to Pixels from Dropdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"selectedImagePath","payloadType":"global","topic":"","x":170,"y":120,"wires":[["cfaefe3a.bbb94"]]},{"id":"8bf37667.6d6f28","type":"ui_button","z":"9eb77ba0.bce108","name":"","group":"7d58c47a.8ead9c","order":7,"width":0,"height":0,"passthru":false,"label":"Turn off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"format\":{\"width\":1,\"height\":1},\"rgbCoords\":[{\"upperLeftCoord\":[0,1],\"rgbValue\":[0,0,0]}]}","payloadType":"str","topic":"","x":780,"y":340,"wires":[["44634f0e.1e7498"]]},{"id":"f2045067.78ac58","type":"ui_button","z":"9eb77ba0.bce108","name":"","group":"7d58c47a.8ead9c","order":9,"width":0,"height":0,"passthru":false,"label":"Set Color","tooltip":"","color":"","bgcolor":"","icon":"","payload":"color","payloadType":"global","topic":"","x":780,"y":380,"wires":[["44634f0e.1e7498"]]},{"id":"6a2c5e35.2045c","type":"ui_text_input","z":"1662ba60.94ed0e","name":"","label":"Image (URL/path):","tooltip":"Enter an URL or absolut file path.","group":"7d58c47a.8ead9c","order":1,"width":"0","height":"0","passthru":true,"mode":"text","delay":"100","topic":"","x":150,"y":120,"wires":[["f75aee92.d523"]]},{"id":"f75aee92.d523","type":"function","z":"1662ba60.94ed0e","name":"Save Image-Path","func":"global.set(\"selectedImagePath\", msg.payload);","outputs":1,"noerr":0,"x":370,"y":120,"wires":[[]]},{"id":"720010f2.56f4c","type":"ui_dropdown","z":"1662ba60.94ed0e","name":"","label":"","tooltip":"","place":"Select option","group":"7d58c47a.8ead9c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Smiley","value":"C:\\Program Files\\nodejs\\images\\smiley.png","type":"str"},{"label":"Heart","value":"C:\\Program Files\\nodejs\\images\\heart.png","type":"str"},{"label":"Pencils","value":"C:\\Program Files\\nodejs\\images\\pencils.png","type":"str"}],"payload":"","topic":"","x":180,"y":80,"wires":[["f75aee92.d523"]]},{"id":"5713a2f.0e28d5c","type":"ui_colour_picker","z":"8c8fdb0a.9b253","name":"","label":"Choose a color","group":"7d58c47a.8ead9c","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":8,"width":0,"height":0,"passthru":true,"topic":"","x":120,"y":80,"wires":[["1b368837.73ca68"]]},{"id":"1b368837.73ca68","type":"function","z":"8c8fdb0a.9b253","name":"Convert to JS-Obj.","func":"msg.payload = {\"format\":{\"width\":1,\"height\":1},\"rgbCoords\":[{\"upperLeftCoord\":[0,1],\"rgbValue\":[msg.payload.r,msg.payload.g,msg.payload.b]}]}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":120,"wires":[["645f72b.21ebb0c"]]},{"id":"645f72b.21ebb0c","type":"json","z":"8c8fdb0a.9b253","name":"","property":"payload","action":"","pretty":false,"x":330,"y":160,"wires":[["d3c9d154.66d638"]]},{"id":"d3c9d154.66d638","type":"function","z":"8c8fdb0a.9b253","name":"Save globally","func":"global.set('color', msg.payload);","outputs":1,"noerr":0,"x":420,"y":200,"wires":[[]]},{"id":"6f6d506c.f3a008","type":"ui_button","z":"41066b7d.1a0b6c","name":"","group":"5701efc.c038e1","order":3,"width":0,"height":0,"passthru":false,"label":"Send Position","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":260,"wires":[["430ea2f9.a88dcc"]]},{"id":"430ea2f9.a88dcc","type":"function","z":"41066b7d.1a0b6c","name":"Get Position","func":"msg.payload = [flow.get('xPos') || 0, flow.get('yPos') || 0];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["fb23ee7c.d1d9f8"]]},{"id":"28e33b1d.e91c6c","type":"comment","z":"9eb77ba0.bce108","name":"Explanation","info":"Convertes and resizes incoming picture.","x":410,"y":60,"wires":[]},{"id":"56aa38b2.154948","type":"comment","z":"9eb77ba0.bce108","name":"Explanation","info":"Converts incoming picture to a RGB-Array starting from the top left. (Each pixel of the image gets saved as an RGB-Array inside the image-array)","x":890,"y":140,"wires":[]},{"id":"ca556517.07af3","type":"comment","z":"9eb77ba0.bce108","name":"Explanation","info":"Convertes incoming rgb-array to rgb-coordinates inside rectangle ((0|0) | (1|1)).","x":1030,"y":200,"wires":[]},{"id":"daa2c9a6.0e929","type":"comment","z":"9eb77ba0.bce108","name":"Explanation","info":"MQTT requires JSON-format","x":1050,"y":260,"wires":[]},{"id":"861f4d56.a31","type":"comment","z":"9eb77ba0.bce108","name":"Explanation","info":"rgb-JSON gets send via MQTT to every subscribed pixel(ESP32).","x":1050,"y":380,"wires":[]}]